<div [ngStyle]="!showBanner | hide"  class="banner">
  <div class="grid grid-center">
    <div class="grid-cell">
      <div class="label" #bannerContent>
      <p class="label"><a href="https://forum.icon.community/t/soda-xchange-sodax-icon-s-next-chapter/3992">The ICON blockchain is closing down</a>, so Omm will be taken offline at the end of 2025. Withdraw your OMM from the Vote page as soon as possible.</p>
      <br>
      <p class="label">If you still have funds in the money markets, visit <a href="https://markets.omm.finance/">markets.omm.finance</a> to withdraw them.</p>
      </div>

    </div>
    <div class="grid-cell text-right close">
      <a href="javascript:void(0);" (click)="onBannerExitClick()">
        <img src="assets/img/icon/cross.svg" alt="">
      </a>
    </div>
  </div>

</div>
